// Place all the styles related to the Genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.customer-index {
  width: 200px;
  margin-top: 50px;
  margin-left: 100px;
  text-align: center;
  background-color: #d5d5d5;
}

.deliver-edit-form {
  margin-top: 20px;
  margin-left: 150px;
}

.deliver-edit-post-number {
  margin-bottom: 10px;
}

.deliver-edit-post-number-tag {
  margin-right: 50px;
}

.deliver-edit-address {
  margin-bottom: 10px;
}

.deliver-edit-address-tag {
  margin-right: 190px;
}

.deliver-edit-name-tag {
  margin-right: 190px;
}