// Place all the styles related to the Genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.customer-index {
  width: 200px;
  margin-top: 50px;
  margin-left: 100px;
  text-align: center;
  background-color: #d5d5d5;
}

.customer-edit-form {
  margin-top: 50px;
  margin-left: 70px;
}

.field {
  margin-bottom: 10px;
}

.customer-edit-last-name {
  margin-left: 128px;
}

.customer-edit-last-name-form {
  margin-left: 13px;
}

.customer-edit-first-name {
  margin-left: 50px;
}

.customer-edit-first-name-form {
  margin-left: 15px;
}

.customer-edit-last-name-kana {
  margin-left: 100px;
}

.customer-edit-first-name-kana {
  margin-left: 50px;
}

.customer-edit-email {
  margin-right: 100px;
}

.customer-edit-email-form {
  margin-left: 19px;
}

.customer-edit-post {
  font-size: 12px;
}

.customer-edit-post-form {
  margin-left: 60px;
}

.customer-edit-address {
  margin-right: 100px;
}

.customer-edit-address-form {
  width: 413px;
  margin-left: 87px;
}

.customer-edit-phone {
  font-size: 12px;
}

.customer-edit-phone-form {
  margin-left: 60px;
}

.customer-edit-action-button {
  margin-left: 200px;
  margin-top: 30px;
}

.customer-edit-exit {
  margin-left: 120px;
}