// Place all the styles related to the Genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.customer-index {
  width: 200px;
  margin-top: 50px;
  margin-left: 100px;
  text-align: center;
  background-color: #d5d5d5;
}

.customer-info-tag {
  display: flex;
  margin-left: 30px;
}

.customer-info-edit {
  margin-top: 50px;
}

.customer-info {
  font-weight: bold;
}

.customer-edit {
  margin-left: 50px;
  margin-right: 10px;
}

.customer-info-table {
  width: 40%;
  margin-top: 10px;
  margin-left: 50px;
  border-collapse: collapse;
}

.customer-info-table-title {
  width: 30%;
  height: 40px;
  background-color: #e6e7ef;
}

.customer-info-table-data {
  width: 70%;
  height: 40px;
}

.customer-first_name {
  margin-right: 8px;
}

.customer-info-deliver {
  margin-top: 40px;
}

.customer-deliver-button {
  margin-left: 50px;
}

.customer-info-order {
  margin-top: 10px;
}

.customer-order-button {
  margin-left: 33px;
}