// Place all the styles related to the Genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.manager-registration {
  width: 500px;
  margin: 100px auto;
}

.manager-registration-title {
  width: 140px;
  text-align: center;
  background-color: #d5d5d5;
}

.manager-registration-mail {
  margin-top: 30px;
  margin-left: 100px;
}

.manager-registration-pass {
  margin: 20px 0 15px 127px;
}

.manager-registration-pass-confirm {
  margin: 20px 0 15px 85px;
}

.manager-registration-signup {
  margin-top: 20px;
  margin-left: 130px;
}