// Place all the styles related to the customers/OrderItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.order-item-deliver-info {
  width: 800px;
  margin-left: 40px;
}


.order-items-index {
  font-weight: bold;
}

.order-items-select {
  margin-left: 50px;
}

.order-items-deliver_info {
  margin-top: 30px;
}

.order-items-address {
  margin-left: 80px;
}

.order-items-confirm-button {
  margin-top: 40px;
  margin-bottom: 20px;
}