// Place all the styles related to the customers/OrderItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.orders-new-info {
  margin-left: 50px;
}


.orders-new-info-index {
  margin-left: 50px;
  font-weight: bold;
}

.orders-new-payment-select {
  margin-left: 80px;
}

.orders-new-costomer-address {
  margin-left: 80px;
}

.orders-new-address-select {
  margin-top: 30px;
  margin-left: 80px;
}

.orders-new-address-input {
  margin-left: 80px;
}

.order-new-address-input-post-number {
  margin-left: 50px;
}

.orders-new-address-input-form {
  margin-top: 10px;
  margin-bottom: 10px;
}
.orders-new-address-input-form-tag {
  margin-right: 190px;
}


.orders-new-confirm-button {
  margin-top: 40px;
  margin-bottom: 20px;
}

