<div style="margin-top: 50px; margin-left: 100px;">
  <h4 style="width: 140px; text-align: center; background-color: #d5d5d5;">管理者画面</h4>
</div>
 
<div style="font-size: 30px; margin-top: 50px; margin-left: 150px;">
    本日の注文件数
    <span style="margin-left: 30px;">
        <%= link_to "aaa" %>件
    </span>
</div>