// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.managers-edit-index {
  margin-top: 50px;
  margin-left: 100px;
  width: 260px;
  text-align: center;
  background-color: #d5d5d5;
}




.managers-customer-edit {
  margin-bottom: 20px;
}

.managers-customer-deleted {
  margin-right: 20px;
}