<h1 style="text-align: center; font-size: 50px; margin: 100px auto 20px auto;">About</h1>

<div style="text-align: center; margin-bottom: 20px;">
  ながのCakeは全国発送可能なケーキ屋さんです。</br>
  お子様からお年寄りの方までお召し上がりいただけるよう、</br>
  様々なバリエーションをご用意しております。</br>
  また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。</br>
  是非ご注文ください。
</div>

<div style="width: 50%; height: 200px; border: 2px solid; margin: 0 auto; ">イラスト</div>