
<!----css => app/assets/stylesheets/customers/customer/about.scss>-->

<h1 class="customer-about-title">About</h1>

<div class="customer-about-introduction">
  ながのCakeは全国発送可能なケーキ屋さんです。</br>
  お子様からお年寄りの方までお召し上がりいただけるよう、</br>
  様々なバリエーションをご用意しております。</br>
  また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。</br>
  是非ご注文ください。
</div>

<div class="customer-about-image">イラスト</div>