// Place all the styles related to the Genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.items-index {
  width: 200px;
  margin-top: 50px;
  margin-left: 100px;
  text-align: center;
  background-color: #d5d5d5;
}

.managers-item-image {
  margin-top: 50px;
  margin-left: 50px;
}

.item-detail {
  margin-top: 100px;
  margin-left: 30px;
}

.info {
  margin-bottom: 20px;
}

.item-show {
  margin-bottom: 30px;
}
  
  
.item-show-info {
  font-size: 20px;
}

.item-show-introduction {
  width: 400px;
}

.item-show-genre {
  margin-left: 20px;
}

.item-show-price {
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.item-show-sell {
  margin-left: 15px;
}

.item-show-sell-status {
  margin-left: 20px;
}

.item-show-submit {
  margin-top: 50px;
  margin-left: 1000px;
}

