// Place all the styles related to the customers/CartItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.cart-all-delete-button {
  margin-left: 1000px;
}

.cart-table-index {
  width: 70%;
  margin: 20px auto 0 auto;
}

.cart-table-index-tag {
  height: 40px;
}

.cart-table-index-name {
  width: 50%;
  border: 1px solid;
  background-color: #e5e8f9;
}

.cart-table-index-price {
  width: 10%;
  border: 1px solid;
  background-color: #e5e8f9;
}

.cart-table-index-amount {
  width: 10%;
  border: 1px solid;
  background-color: #e5e8f9;
}

.cart-table-index-total-price {
  width: 10%;
  border: 1px solid;
  background-color: #e5e8f9;
}

.cart-table-index-delete {
  width: 20%;
  border: 1px solid;
  background-color: #e5e8f9;
}

.cart-table-item-tag {
  height: 20px;
}

.cart-table-item {
  border: 1px solid;
}

.cart-item-image {
  margin-right: 10px;
}

.cart-table-item-name {
  text-valign: center;
}

.cart-table-item-amount {
  text-align: center;
}

.cart-table-item-delete {
  text-align: center;
}

.cart-continue-price {
  margin-top: 30px;
  display: flex;
}

.cart-buy-continue {
  margin-left: 200px;

}

.cart-table-total-price {
  width: 200px;
  margin-left: 635px;
}

.cart-table-total-price-index {
  width: 50%;
  height: 50px;
  border: 1px solid;
  background-color: #e5e8f9;
}

.cart-table-total-price-tag {
  width: 50%;
  border: 1px solid;
}

.cart-order-bottun {
  width: 200px;
  margin: 30px auto 0 auto;
}