* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-navigation {
  height: 80px;
  border-bottom: 2px solid;
}

.nav-header {
  width: 90px;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 30px;
  text-align: center;
  border: 1px solid;
}

.navbar-right {
  margin-right: 50px;
}